.altButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1.8rem;
}

@media (max-width: 49rem) {
    .altButtons {
        margin: 1rem;
    }
}

@media (max-width: 49rem) {
    .altButtons {
        margin: 0rem;
    }
}

.altButtons > div {
    margin: 0rem 1.2rem;
    margin-top: 1rem;
    box-sizing: border-box;
    border-radius: 50%;
}

.fileUpload {
    display: none;
}

.optButton {
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 65rem) {
    .optButton {
        height: 3.5rem;
    }
}

@media (max-width: 25rem) {
    .optButton {
        height: 3rem;
    }
}

.optButtonActive {
    padding: 1.1rem;
    border-radius: 50%;
    background-color: rgba(255, 245, 238, 0.8);
}

@media (max-width: 65rem) {
    .optButtonActive {
        height: 3.5rem;
    }
}

@media (max-width: 25rem) {
    .optButtonActive {
        height: 3rem;
    }
}

.btn {
    color: black;
}

.urlDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.urlInput {
    height: 3rem;
    box-sizing: border-box;
    margin: 1rem 1rem;
    border-radius: 45px;
    width: 100%;
    opacity: 1;
    text-align: center;
    transition: 1000ms;
}

@media (max-width: 65rem) {
    .urlInput {
        height: 2.8rem;
    }
}

@media (max-width: 28rem) {
    .urlInput {
        margin-top: 1rem;
    }
}

.urlInput.cancel {
    width: 0;
    opacity: 0;
    margin: 0;
    height: 0;
}

.submit {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit > button {
    background-color: rgba(96, 170, 182, 0.9);
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    padding: 1rem;
    border-radius: 44px;
}

@media (max-width: 65rem) {
    .submit > button {
        font-size: 24px;
    }
}

@media (max-width: 27rem) {
    .submit > button {
        font-size: 20px;
    }
}

.fileInput {
    display: none;
}
