@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

.Card {
    margin: 4.5rem 8rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Heebo", sans-serif;
}

@media (max-width: 65rem) {
    .Card {
        margin: 6rem 4rem;
        padding: 2rem;
    }
}

.iconContainer {
    margin: 1.5rem;
}

@media (max-width: 65rem) {
    .iconContainer {
        margin: 1rem;
    }
}

.iconContainer > img {
    height: 5rem;
}

@media (max-width: 65rem) {
    .iconContainer > img {
        height: 4rem;
    }
}

.info {
    margin: 1.5rem;
    font-size: 22px;
}
