/* result style */

.backdrop {
    z-index: 8;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}

.result {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(51, 110, 112);
    border-radius: 55px 55px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result > h1 {
    font-style: italic;
    font-size: 50px;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
}

@media (max-width: 65rem) {
    .result > h1 {
        font-size: 40px;
    }
}

@media (max-width: 49rem) {
    .result > h1 {
        font-size: 35px;
    }
}

@media (max-width: 25rem) {
    .result > h1 {
        font-size: 30px;
    }
}

.result > h2 {
    font-size: 35px;
}

@media (max-width: 65rem) {
    .result > h2 {
        font-size: 30px;
    }
}

@media (max-width: 25rem) {
    .result > h2 {
        font-size: 25px;
    }
}

.result > h3 {
    font-size: 25px;
}

@media (max-width: 65rem) {
    .result > h3 {
        font-size: 20px;
    }
}

@media (max-width: 25rem) {
    .result > h3 {
        font-size: 17px;
    }
}

.result > video {
    height: 15rem;
}

@media (max-width: 65rem) {
    .result > video {
        height: 13rem;
    }
}

@media (max-width: 25rem) {
    .result > video {
        height: 10rem;
    }
}

.result > h4 {
    font-size: 20px;
}

@media (max-width: 65rem) {
    .result > h4 {
        font-size: 18px;
    }
}

@media (max-width: 25rem) {
    .result > h4 {
        font-size: 15px;
    }
}

.ParentSlider{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 4rem;
    color: white;
    /* text-align: center; */
}